<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>products</h1>
<p>All the products in the database</p>
<table>
    <thead>
    <td>name</td>
    <td>price</td>
    <td>created</td>
    <td>updated</td>
    </thead>
    <tbody>
    <tr th:each="product:${products}">
        <td th:text="${product.name}">name</td>
        <td th:text="${product.price}">price</td>
        <td th:text="${product.created}">tax</td>
        <td th:text="${product.updated}">tax</td>


    </tr>
    </tbody>
</table>
</body>
</html>